
@font-face {
  font-family: 'MS-PGothic';
  src: url('MS-PGothic.eot?#iefix') format('embedded-opentype'),  url('MS-PGothic.woff') format('woff'), url('MS-PGothic.ttf')  format('truetype'), url('MS-PGothic.svg#MS-PGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
