
@font-face {
  font-family: 'UTMViceroyJF';
  src: url('UTMViceroyJF.eot?#iefix') format('embedded-opentype'),  url('UTMViceroyJF.woff') format('woff'), url('UTMViceroyJF.ttf')  format('truetype'), url('UTMViceroyJF.svg#UTMViceroyJF') format('svg');
  font-weight: normal;
  font-style: normal;
}
